<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'blog-logout' %}"><button>Salir</button></a>

    <ul>
    {% for post in blog_post %}
        <li>{{post}} 
            <a href="{% url 'delete-post' post.id  %}"><button>Borrar</button></a>
            <a href="{% url 'update-post' post.id  %}"><button>Actulizar</button></a>
        </li>
    {% endfor %}
    </ul>
   
    <a href="{% url 'create-post' %}"> <button>Crear un nuevo post</button></a> 
    <a href="{% url 'index-blog' %}"> <button>Vovler al blog</button></a> 
  
</body>
</html>