{% extends 'ejemplo/base.html' %}
{% block titulo%} Lista de todos mis Familiares {% endblock %}
{% block contenido %}

    {% for familiar in lista_familiares %}
        <ul>
            {% if familiar.estado_civil != "" %}
                <li> Nombre: {{familiar.nombre}}, Dirección: {{familiar.direccion}}, Pasaporte: {{familiar.numero_pasaporte}}, Estado Civil: {{familiar.estado_civil}} </li>
            {% else %}
                <li> Nombre: {{familiar.nombre}}, Dirección: {{familiar.direccion}}, Pasaporte: {{familiar.numero_pasaporte}} </li>
            {% endif %}
        </ul>  
        
    {% endfor %}

{% endblock %}