{% extends 'ejemplo/base.html' %}
{% block titulo%} Ingreso los siguientes datos {% endblock %}
{% block contenido %}

<form method="post" >
    {% csrf_token %}
    <ul>
        <li>Usuario : {{form.usuario }} <h6 style="color:red">{{form.usuario.errors}} </h6></li> 
        <li>Nombre : {{form.nombre }} <h6 style="color:red">{{form.nombre.errors}} </h6></li>
        <li>Edad : {{form.edad }}   <h6 style="color:red">{{form.edad.errors}} </h6></li>
        <li>Contraseña : {{form.password}} <h6 style="color:red">{{form.password.errors}} </h6></li>
        <li>Vuelva a ingresar la Contraseña : {{form.password_dos}} <h6 style="color:red">{{form.password_dos.errors}} </h6></li>
    </ul>

    <input type="submit" value="Submit">

 
</form>
<a href="http://127.0.0.1:8000/abm">
    <button>Volver al menu principal</button>
  </a> 
 
{% endblock %}

